@model UnajmljivanjeOprema

	<form asp-action="Create" method="post">
		<div asp-validation-summary="All"></div>
		<div class="form-group">
			<label asp-for="Naziv"></label>
			<input asp-for="Naziv" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Vrijeme"></label>
			<input asp-for="Vrijeme" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Trajanje"></label>
			<input asp-for="Trajanje" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Cijena"></label>
			<input asp-for="Cijena" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Detalji"></label>
			<input asp-for="Detalji" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="ReferentniTipId"></label>
			<input asp-for="ReferentniTipId" class="form-control" />
		</div>
		<div class="text-center">
			<button class="btn btn-primary" type="submit">Dodaj</button>
			<a asp-action="Index" class="btn btn-danger">Odustani</a>
		</div>
	</form>